<div id = "logo">
    <img>
    CitizenV
</div>
<div id = "menu">
    <ul id = "trang">
        <li id = "ds"><i class="fas fa-database"></i><a href="/danhsach">Tổng hợp dữ liệu</a></li>
        <li id = "ql"><i class="fas fa-chalkboard-teacher"></i><a href="/quanly">Quản lý nhập liệu</a></li>
        <li id = "nl"><i class="fas fa-search"></i><a href="/nhaplieu/">Nhập liệu</a></li>
        <li id = "tc"><i class="fas fa-search"></i><a href="/tracuu">Tra cứu</a></li>
    </ul>
</div>
<div id = "setting">
    <ul>
        <li><i class="fas fa-sign-out-alt"></i><a href="/">Đăng xuất</a></li>
    </ul>
</div>

<script src="/js/header.js" type="text/javascript"></script>