<div id = "logo">
    <img>
    CitizenV
</div>
<div id = "menu">
    <ul>
        <li><i class="fas fa-database"></i><a href="/danhsach">Tổng hợp dữ liệu</a></li>
        <li><i class="fas fa-chalkboard-teacher"></i><a href="/quanly">Quản lý nhập liệu</a></li>
        <li><i class="fas fa-search"></i><a href="/tracuu">Tra cứu</a></li>
        <li><i class="fas fa-search"></i><a href="/nhaplieu/">Nhập liệu</a></li>
    </ul>
</div>
<div id = "setting">
    <ul>
        <li><i class="fas fa-cog"></i><a href="">Cài đặt</a></li>
        <li><i class="fas fa-bell"></i><a href="">Thông báo</a></li>
        <li><i class="fas fa-sign-out-alt"></i><a href="/">Đăng xuất</a></li>
    </ul>
</div>