<header class="navbar navbar-expand-sm navbar-light bg-light main-nav">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="navbar-brand"></li>
            <li class="nav-item">
                <a class="nav-link" href="#"><img src = "/img/logo.png" alt="Avatar Logo" style="height:20px;"></sim><strong> CitizenV</strong></a>
            </li>
        </ul>
        <ul class="nav navbar-nav mx-auto" id="danhsachtrang">
            <li class="nav-item">
                <a class="nav-link" href="/danhsach"><i class="fas fa-home"></i><span>Trang chủ</span></a>
            </li>
            <li class="nav-item" id ="trangquanly">
                <a class="nav-link" href="/quanly"><i class="fas fa-tasks"></i><span>Quản lý</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tracuu"><i class="fas fa-search"></i><span>Tra cứu</span></a>
            </li>
        </ul>
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#" onclick="danhSachThanhVien()"><i class="fas fa-question-circle"></i><span>Trợ giúp</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="fas fa-sign-out-alt"></i><span>Đăng xuất</span></a>
            </li>
        </ul>
    </div>
</header>