<table>
    <thead>
        <tr>
            <th></th>
            <th>Mã</th>
            <th>Địa phương</th>
        </tr>
    </thead>
    <tbody id = "danhsach">
        <tr>
            <td><input type="checkbox" class = "ck" id="ck-1"></td>
            <td>1</td>
            <td>Ninh bình</td>
        </tr>
</table>
