<h1 id="tenthon"></h1>

<table id="table">
    <thead>
        <tr>
            <th></th>
            <th>Mã</th>
            <th>Địa phương</th>
        </tr>
    </thead>
    <tbody id = "danhsach">
</table>

<h1>Tên hộ</h1>
<form id="chu_ho" style ="background-color: aquamarine;">
  <label>Nhập họ tên</label><input type="text" class="name" />
</form>
 
<h1>Thành viên</h1>
<form id="thanh_vien" style ="background-color: aquamarine;">
  {{!-- <div>
    <label>Nhập họ tên</label><input type="text" class="name"/>
    <label>CMND</label><input type="text" class="cmnd" />
    <label>Dân tộc</label><input type="text" class="dan_toc" />
    <label>Nam</label><input type="checkbox" />
    <label>Ngày sinh</label><input
      type="text"
      name="dob"
      placeholder="nn/tt/nnnn"
      class="ngay_sinh"
    />
    <label>Quốc tịch</label><input type="text" class="quoc_tich" />
    <label>Quan hệ với chủ hộ</label><input type="text" />
    <label>Tôn giáo</label><input type="text" class="ton_giao" />
    <label>Trình độ học vấn</label><input type="text" class="hoc_van" />
  </div> --}}
</form>
 
<button id="add">Thêm</button>
<button id="remove">Xóa</button>
<button id="submit">Gửi</button>

<div id="err" style="color : red"></div>
  
<script type="text/javascript" src="/js/nhaplieu.js"></script>