<div>
    <span>Nhap id </span><input type="text" id="o_id">
    <span>Nhap Mk moi</span><input type="text" id="n_pass">
    <button onclick="xoa_mk()">Xoa Mk</button>
    <button onclick="doi_mk()">Thay doi mk</button><br>
    <span>Ngày mở quyền (trống nếu là hôm nay)</span><input type="text" id="time_start" placeholder="yyyy/mm/dd">
    <span>Hạn đóng quyền (trống nếu là mai)</span><input type="text" id="time_end" placeholder="yyyy/mm/dd">
    <button onclick="doi_quyen()">Thay doi quyen</button>
    <button onclick="xoa_quyen()">Xoa quyen</button>
    <button onclick="hoan_thanh()">Hoàn thành</button>
    <button onclick="chua_hoan_thanh()">Chưa hoàn thành</button>
</div>

<div>
    <h1 id="ten"></h1>
    <h2 id="quyen"></h2>
    <h3 id="tiendo"></h3>
    <div id = "inphieu">
        <div id = "list_checkbox">
            <input type="checkbox" class="cb" value="Họ tên"><span>Họ và tên</span>
            <input type="checkbox" class="cb" value="Ngày sinh"><span>Ngày sinh</span>
            <input type="checkbox" class="cb" value="Giới tính"><span>Giới tính</span>
            <input type="checkbox" class="cb" value="Tôn giáo"><span>Tôn giáo</span>
            <input type="checkbox" class="cb" value="Quốc tịch"><span>Quốc tịch</span>
            <input type="checkbox" class="cb" value="Nghề nghiệp"><span>Nghề nghiệp</span>
            <input type="checkbox" class="cb" value="CMND"><span>CMND</span>
            <input type="checkbox" class="cb" value="Thường trú"><span>Thường trú</span>
            <input type="checkbox" class="cb" value="Tạm trú"><span>Tạm trú</span>
            <input type="checkbox" class="cb" value="Trình độ học vấn"><span>Trình độ văn hóa</span>
        </div>
        <button onclick = "inphieu()">In phiếu</button>
    </div>
    
</div>
<table>
    <thead>
        <tr>
            <th></th>
            <th>Mã</th>
            <th>Địa phương</th>
            <th>Mật khẩu</th>
            <th>Quyền</th>
            <th>Tiến độ</th>
        </tr>
    </thead>
    <tbody id="list">
    </tbody>
</table>

<script type="text/javascript" src="/js/quanly.js"></script>