<table>
    <thead>
        <tr>
            <th></th>
            <th>Mã</th>
            <th>Địa phương</th>
            <th>Trạng thái</th>
            <th>Tiến độ</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input type="checkbox" class = "ck" id="ck-1"></td>
            <td>64</td>
            <td>Ninh bình</td>
            <td>Đóng</td>
            <td>90%</td>
        </tr>
        <tr>
            <td><input type="checkbox" class = "ck" id="ck0"></td>
            <td>64</td>
            <td>Thanh Hóa</td>
            <td>Chưa Hoàn thiện</td>
            <td>90%</td>
        </tr>
        <tr>
            <td><input type="checkbox" class = "ck" id="ck1"></td>
            <td>64</td>
            <td>Hà Nội</td>
            <td>Đang Hoàn thiện</td>
            <td>90%</td>
        </tr>
        <tr>
            <td><input type="checkbox" class = "ck" id="ck2"></td>
            <td>64</td>
            <td>Quảng Ninh</td>
            <td>Xong</td>
            <td>90%</td>
        </tr>
        <tr>
            <td><input type="checkbox" class = "ck" id="ck3"></td>
            <td>64</td>
            <td>Thái bình</td>
            <td>Chưa cấp tài khoản</td>
            <td>90%</td>
        </tr>
</table>