<section>
  <div class="container noidung shadow-lg">
    <div id="formContent" class="inside">
    <img src="/img/CitizenV.png">
    <hr>
    <div id = "dangnhap">
      <div class="mb-3 mt-3">
        <input type="text" class="form-control" id="id" placeholder="Nhập tên đăng nhập" name="uname" required>
        <div id = "loidangnhap" class = "loi">Vui lòng nhập tên đăng nhập</div>
      </div>
      <div class="mb-3">
        <input type="password" class="form-control" id="psw" placeholder="Nhập mật khẩu" name="pswd" required>
        <div id = "loimatkhau" class = "loi">Vui lòng nhập mật khẩu</div>
      </div>
    </div>
    <div class="input-form">
        <input type="submit" class="fadeIn fourth" value="Đăng nhập" onclick="log()">
    </div>

  </div>
</section>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/j_dangnhap.js" type="text/javascript"></script>